body,
html {
  width: 100%;
  height: 100%; 
}

body {
  background-position: center;
  background-image: url("wallpaper.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header.startup {
  background-position: center;
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 3rem; 
}
